@import '../../../styles/breakpoints';

.cases {
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        font-family: 'Ablation';
        font-weight: 800;
        font-size: 60px;
        line-height: 57px;
        color: #FFD20C;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin-top: 50px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    &__icon {
        width: 100%;
        height: auto;
    }

    &__info {
        background: rgba(255, 255, 255, 0.01);
        box-shadow: inset 0px -5px 25px rgba(29, 161, 242, 0.35), inset 10px 10px 5px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(9.5px);
        border-radius: 20px;
        padding: 20px 30px;
        margin-bottom: 15px;
        
        min-height: 220px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        width: 100%;
    }

    &__mobile-icon {
        display: none;
    }

    &__name {
        font-family: 'Intro';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #FFD20C;
    }

    &__descript {
        font-family: 'Intro';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
    }

    &__warn {
        margin-top: 60px;
        width: 100%;
        background: rgba(255, 255, 255, 0.01);
        box-shadow: inset 0px -5px 25px rgba(29, 161, 242, 0.35), inset 10px 10px 5px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 20px;

        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__warn-sign {
        background: rgba(0, 0, 0, 0.01);
        box-shadow: inset 0px -5px 25px rgba(29, 161, 242, 0.35), inset 10px 10px 5px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 20px;
        padding: 0px 60px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 140%;
        color: #FFC044;
    }

    &__text {
        font-family: 'Intro';
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #FFFFFF;
    }
}

@media (max-width: $screen-xll-min) {
    .cases {
        margin: 0 50px;

        &__icon {
            width: 100%;
        }
    }
}

@media (max-width: 1300px) {
    .cases {

        &__icon {
            width: 40vh;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: $screen-xl-min) {
    .cases {
        margin: 20px;

        &__warn {
            gap: 20px;
        }
    }
}


@media (max-width: $screen-lg-min) {
    .cases {
        height: 100%;


        &__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 0px;
        }

        &__item {

            height: 25vh;
        }

        &__mobile-icon {
            display: inherit;
            margin: 20px 0;
        }

        &__icon {
            display: none;
        }

        &__warn {
            margin-top: 69px;
            background: transparent;
            box-shadow: inherit;
            backdrop-filter: inherit;

            & .cases__text {
                text-align: center;
            }
        }

        &__name {
            font-size: 16px;
            text-align: center;
        }

        &__descript {
            font-size: 15px;
            text-align: center;
            // margin-top: 10px;
        }

        &__warn-sign {
            display: none;
        }

        &__mobile-icon {
            width: 100%;
        }

    }
}